.container {
    align-items: center;
    margin: 10px;
}
/* .titleContainer {
    width: 20%;
    margin-right: 8%;
} */
.bodyContainer {
    margin-left: 40%;
    width: 60%;
    border: black solid 1px;
}
