.postTitle {
    // font-size: 200px;
}
.postBody {
    font-size: 15px;
}
.commentsContainer {
    width: 70%;
    margin: 10px auto 10px auto;
}
.containerCommentsText {
    margin-top: 50px;
    font-weight: 600;
    margin-left: 20px;
}
